img[id=userimg] {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline;
    margin-right: auto;
    aspect-ratio: 1/1;
    color: #aaa;
    cursor: pointer;
    float: right;
}

a[id=link]{
    display: none;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.carta {
    width: 35px;
    height: 35px;
    position: absolute;
    transform: translate(0,-40px);
    border: 2px solid var(--corbordas);
    z-index: 0;
    background-color: var(--cormedia);
    background-clip: content-box;
}
.corpo3 {
    width: 60%;
    height: 40%;
    background-color: var(--formulario);
    border-radius: 10%;
    transform: translate(35%,80%);
    position: absolute;
    z-index: 1;
}
.abref {
    width: 50%;
    height: 50%;
    background-color: var(--cormedia);
    border-radius: 15%;
    transform: translate(50%,5%) rotate(225deg);
    clip-path: polygon(0% 90% , 0% 0%, 90%  0%);
    position: absolute;
    z-index: 2;
}
.abre {
    width: 50%;
    height: 50%;
    background-color: var(--formulario);
    border-radius: 15%;
    transform: translate(50%,-5%) rotate(225deg);
    clip-path: polygon(0% 75% , 0% 0%, 75%  0%);
    position: absolute;
    z-index: 3;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.cadeado {
    width: 35px;
    height: 35px;
    position: absolute;
    transform: translate(0,-40px);
    background-color: var(--cormedia);
    border: 2px solid var(--corbordas);
    z-index: 0;
    background-clip: content-box;
}
.arco {
    width: 40%;
    height: 30%;
    background-color: var(--formulario);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: translate(76%,60%);
    position: absolute;
    z-index: 1;
}
.arcov {
    width: 20%;
    height: 15%;
    background-color: var(--cormedia);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform:translate(200%,190%);
    position: absolute;
    z-index: 2;
}
.corpo {
    width: 50%;
    height: 30%;
    background-color: var(--formulario);
    border-radius: 20%;
    transform: translate(50%,150%);
    position: absolute;
    z-index: 3;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.busto {
    width: 35px;
    height: 35px;
    position: absolute;
    transform: translate(0,-40px);
    background-color: var(--cormedia);
    border: 2px solid var(--corbordas);
    z-index: 0;
    background-clip: content-box;
}
.cabeca {
    width: 27%;
    height: 27%;
    background-color: var(--formulario);
    border-radius: 50%;
    transform: translate(135%,60%);
    position: absolute;
    z-index: 1;
}
.corpo2 {
    width: 50%;
    height: 30%;
    background-color: var(--formulario);
    border-radius: 20%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform: translate(50%,150%);
    position: absolute;
    z-index: 3;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.martelo {
    width: 35px;
    height: 35px;
    position: absolute;
    transform: translate(0,-40px);
    background-color: var(--cormedia);
    border: 2px solid var(--corbordas);
    z-index: 0;
    background-clip: content-box;
}
.cabeca2 {
    width: 25%;
    height: 40%;
    background-color: var(--formulario);
    border-radius: 30%;
    transform: translate(110%,40%) rotate(45deg);
    position: absolute;
    z-index: 1;
}
.aste {
    width: 70%;
    height: 15%;
    background-color: var(--formulario);
    border-radius: 30%;
    transform: translate(25%,280%) rotate(45deg);
    position: absolute;
    z-index: 2;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

:root {
    --fontColorDark: #05445E;
    --fontColorLight: #E4F4F3;
    --corextraclara: #A1DBF1;
    --formulario: #fff;
    --corclara: #71D5E4;
    --cormedia: #00B6BC;
    --corescura: #29A0B1;
    --corextraescura: #05445E;
    --corbordas: #ccc;
    --corerro: #a00;
    --corcerto: #0a0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: Border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

body {
    background-image: linear-gradient(var(--corextraescura), var(--corclara));
}

nav[id=navbar] {
    background-color: var(--formulario); /* Cor de fundo do formulario */
    border: 2px solid var(--corbordas);
    height: 60px;
    width: 100%; /* Largura do formulario em relação a tela */
    padding: 10px;
    position: fixed;
    top: 0;
}

a[id=nome] {
    display: none;
    text-align: center;
    text-decoration: solid;
    color: var(--corescura);
    cursor: pointer;
    float: right;
    padding: 10px;
}

div[id=paginicial] {
    background-color: var(--formulario); /* Cor de fundo do formulario */
    max-width: 1500px; /* Tamanho maximo do formulario */
    width: 80%; /* Largura do formulario em relação a tela */
    padding: 10px;
    position:absolute;
    left: 10%; /* Posição do formulario em relação a tela */
    top: 15%; /* Posição do formulario em relação a tela */
    border-radius: 10px;
}

div[id=mostruario] {
    background-color: var(--formulario); /* Cor de fundo do formulario */
    max-width: 1200px; /* Tamanho maximo do formulario */
    width: 80%;
    padding: 10px;
    display: inline;
    float: right;
}

div[id=confg] {
    background-color: var(--formulario); /* Cor de fundo do formulario */
    max-width: 300px; /* Tamanho maximo do formulario */
    width: 20%;
    padding: 10px;
    border: 2px solid var(--corbordas);
    display: inline;
    float: left;
}

div h3 {
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 100%; /* Tamanho da fonte */
    text-align: center; /* Posicão do texto */
    color: var(--cormedia);
}

div[id=barra] {
    width: 100%;
    padding: 1px;
    display: block;
    float: right;
}

div[id=produtos] {
    width: 100%;
    padding: 10px;
    display: block;
    float: right;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

.produto {
    width: 100%;
    border: 2px solid var(--corbordas);
    display: block;
    margin-bottom: 5px;
}

.imgproduto {
    width: 140px;
    height: 220px;
    color: #aaa;
    cursor: pointer;
}

.infos {
    width: 90%;
    height: 100%;
    display: inline;
    float: inline-start;
    
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Exibe "..." quando o texto é truncado */
}

.util {
    width: calc(100% - 140px);
    height: 220px;
    display: inline;
    float: inline-end;
}

.botoes {
    width: 10%;
    height: 220px;
    display: inline;
    float: inline-start;
}

.botao {
    display: block;
    width: 100%; /* largura do botão */
    height: 35px; /* Altura do botão em pixel */
    background: var(--cormedia); /* Cor do botão */
    color: var(--formulario); /* Cor da fonte */
    border: 0;
    cursor: pointer; /* Muda o ponteiro do mouse */
    margin-bottom: 10px;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Exibe "..." quando o texto é truncado */
    font-weight: bold;
    font-size: 90%; /* Tamanho da fonte */
}

.botaodv {
    display: block;
    width: 100%; /* largura do botão */
    height: 35px; /* Altura do botão em pixel */
    background: var(--corescura); /* Cor do botão */
    color: var(--formulario); /* Cor da fonte */
    border: 0;
    cursor: pointer; /* Muda o ponteiro do mouse */
    margin-bottom: 10px;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Exibe "..." quando o texto é truncado */
    font-weight: bold;
    font-size: 90%; /* Tamanho da fonte */
}

.botaoed {
    display: block;
    width: 100%; /* largura do botão */
    height: 35px; /* Altura do botão em pixel */
    background: var(--corcerto); /* Cor do botão */
    color: var(--formulario); /* Cor da fonte */
    border: 0;
    cursor: pointer; /* Muda o ponteiro do mouse */
    margin-bottom: 10px;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Exibe "..." quando o texto é truncado */
    font-weight: bold;
    font-size: 90%; /* Tamanho da fonte */
}

.botaoex {
    display: block;
    width: 100%; /* largura do botão */
    height: 35px; /* Altura do botão em pixel */
    background: var(--corerro); /* Cor do botão */
    color: var(--formulario); /* Cor da fonte */
    border: 0;
    cursor: pointer; /* Muda o ponteiro do mouse */
    margin-bottom: 10px;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Exibe "..." quando o texto é truncado */
    font-weight: bold;
    font-size: 90%; /* Tamanho da fonte */
}

.titulo {
    margin-left: 10px;
    font-weight: bold;
    text-align: left;
    text-decoration: solid;
    color: var(--corescura);
    display: block;
}

.descricao {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 15;
    box-sizing: Border-box;
    color: var(--corextraescura);
}

.dados0 {
    display: block;
}

.dados1 {
    display: block;
}

.detalhe {
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 15;
    box-sizing: Border-box;
    color: var(--corextraescura);
    display: inline;
}

.categoria{
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 15;
    box-sizing: Border-box;
    color: var(--corextraescura);
    display: block;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

input[id=pesquisar] {
    width: 50%;
    height: 35px;
    border: 2px solid var(--corbordas);
    padding-left: 10px;
    margin: 5px 0;
    float: right; /* Alinha o objeto a margem direita */
    display: inline;
}


/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

input[id=pesquisar]:focus {
    outline: none;
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

input[id=Bpesquisar] {
    display: inline;
    width: 10%; /* largura do botão */
    height: 35px; /* Altura do botão em pixel */
    background: var(--cormedia); /* Cor do botão */
    color: var(--formulario); /* Cor da fonte */
    border: 0;
    cursor: pointer; /* Muda o ponteiro do mouse */
    margin: 5px 0;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Exibe "..." quando o texto é truncado */
    font-weight: bold;
    font-size: 90%; /* Tamanho da fonte */
    float: right; /* Alinha o objeto a margem direita */
}

input[id=Adicionar] {
    display: none;
    width: 10%; /* largura do botão */
    height: 35px; /* Altura do botão em pixel */
    background: var(--cormedia); /* Cor do botão */
    color: var(--formulario); /* Cor da fonte */
    border: 0;
    cursor: pointer; /* Muda o ponteiro do mouse */
    margin: 5px 0;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Exibe "..." quando o texto é truncado */
    font-weight: bold;
    font-size: 90%; /* Tamanho da fonte */
}

input[id=sair] {
    display: none;
    width: 35px; /* largura do botão */
    height: 35px; /* Altura do botão em pixel */
    background: var(--cormedia); /* Cor do botão */
    color: var(--formulario); /* Cor da fonte */
    border: 0;
    cursor: pointer; /* Muda o ponteiro do mouse */
    margin: 5px 0;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Exibe "..." quando o texto é truncado */
    font-weight: bold;
    font-size: 90%; /* Tamanho da fonte */
    float: right; /* Alinha o objeto a margem direita */
}

input[id=login] {
    display: inline;
    width: 50px; /* largura do botão */
    height: 35px; /* Altura do botão em pixel */
    background: var(--cormedia); /* Cor do botão */
    color: var(--formulario); /* Cor da fonte */
    border: 0;
    cursor: pointer; /* Muda o ponteiro do mouse */
    margin: 5px 0;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Exibe "..." quando o texto é truncado */
    font-weight: bold;
    font-size: 90%; /* Tamanho da fonte */
    float: right; /* Alinha o objeto a margem direita */
}

input[id=registrar] {
    display: inline;
    width: 70px; /* largura do botão */
    height: 35px; /* Altura do botão em pixel */
    background: var(--corextraescura); /* Cor do botão */
    color: var(--formulario); /* Cor da fonte */
    border: 0;
    cursor: pointer; /* Muda o ponteiro do mouse */
    margin: 5px 0;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Exibe "..." quando o texto é truncado */
    font-weight: bold;
    font-size: 90%; /* Tamanho da fonte */
    float: right; /* Alinha o objeto a margem direita */
}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

form {
    background-color: var(--corextraclara); /* Cor de fundo do formulario */
    max-width: 1000px; /* Tamanho maximo do formulario */
    width: 70%; /* Largura do formulario em relação a tela */
    padding: 10px;
    position: fixed;
    left: 50%; /* Posição do formulario em relação a tela */
    top: 50%; /* Posição do formulario em relação a tela */
    transform: translate(-50%, -50%); /* Tira o tamanho do formulario em relção a posição */
    border-radius: 10px;
    display: none;
}

form h3 {
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 150%; /* Tamanho da fonte */
    text-align: center; /* Posicão do texto */
    color: var(--cormedia);
}

form text[id=imgerro] {
    display: none;
    text-decoration: underline;
    color: var(--corerro);
}

form input[id=edtitulo] {
    width: 70%;
    height: 35px;
    border: 2px solid var(--corbordas);
    padding-left: 10px;
    margin: 5px 0;
    display: block;
}

form textarea[id=eddescricao] {
    width: 100%;
    height: 150px;
    border: 2px solid var(--corbordas);
    padding-left: 10px;
    margin: 5px 0;
    display: block;
    resize: vertical;
}

form input[id=edpor] {
    width: calc(20% - 5px);;
    height: 35px;
    border: 2px solid var(--corbordas);
    padding-left: 10px;
    margin: 5px 0;
    display: inline;
}

form input[id=edaquisicao] {
    width: calc(20% - 5px);;
    height: 35px;
    border: 2px solid var(--corbordas);
    padding-left: 10px;
    margin: 5px 0;
    display: inline;
}

form input[id=edestado] {
    width: calc(20% - 5px);;
    height: 35px;
    border: 2px solid var(--corbordas);
    padding-left: 10px;
    margin: 5px 0;
    display: inline;
}

form input[id=edlocalizacao] {
    width: calc(20% - 5px);;
    height: 35px;
    border: 2px solid var(--corbordas);
    padding-left: 10px;
    margin: 5px 0;
    display: inline;
}

form input[id=edid] {
    width: calc(20% - 5px);
    height: 35px;
    border: 2px solid var(--corbordas);
    padding-left: 10px;
    margin: 5px 0;
    display: inline;
}/*as;dl;asd*/

p[id=idisbn] {
    width: calc(20% - 5px);
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size: 15;
    box-sizing: Border-box;
    color: var(--corextraescura);
    display: none;
}


form input[id=edimagem] {
    width: calc(60% - 5px);
    height: 35px;
    border: 2px solid var(--corbordas);
    padding-left: 10px;
    margin: 5px 0;
    display: inline;
}

form input[id=edcategoria] {
    width: calc(40% - 5px);;
    height: 35px;
    border: 2px solid var(--corbordas);
    padding-left: 10px;
    margin: 5px 0;
    display: inline;
}

div[id=divedit] {
    width: 90%;
    display: inline;
    float: inline-start;
}

img[id=edimg] {
    transform: translatey(5px);
    aspect-ratio: 9/14;
    height: 80px;
    display: inline;
    cursor: pointer;
}

input[id=enviar] {
    display: inline;
    width: 70px; /* largura do botão */
    height: 35px; /* Altura do botão em pixel */
    background: var(--corcerto); /* Cor do botão */
    color: var(--formulario); /* Cor da fonte */
    border: 0;
    cursor: pointer; /* Muda o ponteiro do mouse */
    margin-left: 15px;
    margin-top: 5px;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Exibe "..." quando o texto é truncado */
    font-weight: bold;
    font-size: 90%; /* Tamanho da fonte */
    float: right; /* Alinha o objeto a margem direita */
}

input[id=editar] {
    display: none;
    width: 70px; /* largura do botão */
    height: 35px; /* Altura do botão em pixel */
    background: var(--corcerto); /* Cor do botão */
    color: var(--formulario); /* Cor da fonte */
    border: 0;
    cursor: pointer; /* Muda o ponteiro do mouse */
    margin-left: 15px;
    margin-top: 5px;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Exibe "..." quando o texto é truncado */
    font-weight: bold;
    font-size: 90%; /* Tamanho da fonte */
    float: right; /* Alinha o objeto a margem direita */
}

input[id=cancelar] {
    display: inline;
    width: 70px; /* largura do botão */
    height: 35px; /* Altura do botão em pixel */
    background: var(--corerro); /* Cor do botão */
    color: var(--formulario); /* Cor da fonte */
    border: 0;
    cursor: pointer; /* Muda o ponteiro do mouse */
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 5px;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Exibe "..." quando o texto é truncado */
    font-weight: bold;
    font-size: 90%; /* Tamanho da fonte */
    float: right; /* Alinha o objeto a margem direita */
}

div[id=edbot] {
    display: block;
    float: inline-end;
}

.revolver {
    display: none;
    width: 70px; /* largura do botão */
    height: 35px; /* Altura do botão em pixel */
    background: var(--corescura); /* Cor do botão */
    color: var(--formulario); /* Cor da fonte */
    border: 0;
    cursor: pointer; /* Muda o ponteiro do mouse */
    margin-left: 15px;
    margin-top: 5px;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o conteúdo excedente */
    text-overflow: ellipsis; /* Exibe "..." quando o texto é truncado */
    font-weight: bold;
    font-size: 90%; /* Tamanho da fonte */
    float: right; /* Alinha o objeto a margem direita */
}